h2{background-color: bisque;}
#a1{ color: rgb(169, 214, 199);}
#f1{color: rgb(146, 196, 196); color: rgb(228, 14, 14);}
#f2{background-color: rgb(196, 231, 228);}
.z1{background-color: rgb(213, 214, 141);color: black;}
#a1,.z1{color: black;}

.time{
    width: 50%;
    height: 700px;
    background-color: blanchedalmond;
    /* background-image: url(sea-7394353_640.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}
.day{
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    /* background-image: url(lion-8947711_1920.jpg); */
    /* background-position: center; */
    background-repeat: no-repeat;
    margin: 1000px;
    padding-top: 800px;
    padding-right: 1080px;
    padding-bottom: 1440px ;
    padding-left: 720px;

}
.tip{
    width: 70%;
    height: 150px;
    background-color: rgb(30, 210, 69);
    margin: auto;
    padding: 45px 70px;
    border-style:dashed ;
    border-color: blueviolet red;
    border-width: 8px 5px;
    border-radius: 40px;
}
.shop{
    position: relative;
}
.shop_inner{
    /* background-color: rgba(255, 255, 255, 0.26); */
    color: whitesmoke;
    position: absolute;
    top: 300px;
    left: 150px;
}
p{
margin-top: 100px;

}
.press{
    margin-top: 50px;
    position:fixed;
}
 h2{   
    bottom: 0px;
    position:sticky;
    color: black;
    background-color:rgba(255, 228, 196, 0.623);
    text-align: center;
}
.topic{
    /* text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    word-spacing: 15px; */
    text-indent: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
}
.head{
    background-color: beige;
    color: red;
    text-shadow: 6px 6px 6px blue;
    display: inline;
}
table,td,th{
    background-color: aquamarine;
    border: 2px dotted black;
    border-collapse: collapse;
    margin: 60px 80px;
    padding: 50px;

}
#n1{
    color: red;
}
/* a{
    background-color: aqua;
    display: block;
} */
.text{
    width: 100%;
    height: 180px;
    background-color: darksalmon;
    overflow: auto;
    /* overflow-y:auto; */
    /* overflow-x: scroll; */
    /* overflow-x: scroll; */
    
}
#l1:link{
    color: rgb(253, 36, 8);
}
#l1:visited{
    color: peru;
}
#l1:active{
    color: green;
}
#l1:hover{
    color: dimgrey;
}
img:hover{
    opacity: 0.8;

}
img{
    opacity: 0.5;
}
#r1::first-line{
    color: green;
    font-variant: small-caps;

}
#r2::before{
    content: '  $  ';
    margin-left: 80px;
}
#r3::selection{
    color: aqua;
    background-color: red;
}