h2{background-color: bisque;}
#a1{ color: rgb(169, 214, 199);}
#f1{color: rgb(146, 196, 196); color: rgb(228, 14, 14);}
#f2{background-color: rgb(196, 231, 228);}
.z1{background-color: rgb(213, 214, 141);color: black;}
#a1,.z1{color: black;}

.time{
    width: 50%;
    height: 700px;
    background-color: blanchedalmond;
    background-image: url(sea-7394353_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.day{
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    /* background-image: url(lion-8947711_1920.jpg); */
    /* background-position: center; */
    background-repeat: no-repeat;
    margin: 1000px;
    padding-top: 800px;
    padding-right: 1080px;
    padding-bottom: 1440px ;
    padding-left: 720px;

}
.tip{
    width: 70%;
    height: 150px;
    background-color: rgb(30, 210, 69);
    margin: auto;
    padding: 45px 70px;
    border-style:dashed ;
    border-color: blueviolet red;
    border-width: 8px 5px;
    border-radius: 40px;
}
.shop{
    position: relative;
}
.shop_inner{
    /* background-color: rgba(255, 255, 255, 0.26); */
    color: whitesmoke;
    position: absolute;
    top: 300px;
    left: 150px;
}
p{
margin-top: 100px;

}
.a1{
    margin-top: 50px;
}
