/* .shack{
    width: 80%;    
    margin: auto;

    display: grid;
    background-color: burlywood;
    grid-template-areas: 'auto auto auto auto auto auto';
    grid-template-rows: 150px;
    gap: 5px;
}
.div{
    background-color: aqua;
}

@media screen and (min-width: 700px) and (max-width : 900px) {
  .shack{
    grid-template-areas: 'auto auto auto ';
    grid-template-rows: 150px 150px;
  }
}
@media screen and (max-width:700px) {
    .shack{
        grid-template-areas: 'auto auto';
        grid-template-rows: 150px 150px 150px;
      }
} */




.shack{
    width: 80%;    
    margin: auto;

    display: flex;
    background-color: burlywood;
    flex-wrap: wrap;
}
.div{
    background-color: aqua;
    flex: 16%;
}

@media screen and (min-width: 700px) and (max-width : 900px) {
  .div{
        flex: 33%;
  }
}
@media screen and (max-width:700px) {
    .div{
         flex: 100%;
      }
}